
/* Global Styling */
*{
  margin:0;
  padding:0;
}
body{
  background-image:url('./assets/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

/* Header */
.header{
width:100%;
  opacity:.8;
  min-height:60px
}

.list{
  display:flex;
  justify-content: flex-end;
  margin-right:10px;
  list-style: none;
  width:80%;
}
.list-item{
  margin:1rem;
}

/* Footer */
.footer{
  position:absolute;
  bottom:0;
  height:60px;
  width:100%;
  background-color: #1d3346;
  opacity:.85;
  color:white
}

/* Content */
.content-container{
  display: flex;
  justify-content: center;
}
.section-content{
background-color: white;
border-radius: 15px;
width:70%;
opacity:.9;
}
.content {
  width:95%;
  margin:auto;
  margin-top:15px;
  margin-bottom: 15px;
  display:flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.content-title{
  width:100%;
}

/* About */
.profile-image-container{
  max-width:20%;
  margin-right:15px;
  margin-bottom:5px;

}

.profile-image{
  width: 100%;
  border-radius: 15px;
}

.about-me-content{
  width:75%;
  margin:auto;
}

/* Projects */
.project{
  width:15rem;
  min-height: 15rem;
}

.project-container{
  position:relative;
  text-align: center;
  color:white;
  margin:10px;
  display:inline-block;
}

.project-links{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  color:black;
  width:90%;
  display:none;
  background-color: white;
  border-radius: 15px;

}
.project-link{
text-decoration: none;
color:black;
font-weight: bold;
display:block;
}

.project-name{
  font-weight: bolder;
  font-size: 1.3rem;
}


.project-container:hover .project-links{
  display:block;
  color:black
}

a{
  text-decoration: none;
}


/* Contact */
 form {
  width: 100%;
  display:block;

}

.contact-header{
  width:100%;
}

/* Resume */
.proficiencies{
width:90%;
}